.container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.icon{
    width: 42px;
    height: 42px;
    background: #f899c6;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    position: relative;
    overflow: hidden;
}
.icon:hover img{
    transform: scale(1.3);
    color: black;
}

.icon img{
    line-height: 90px;
    font-size: 25px;
    transition: 0.2s;
}

.icon::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #A9B0D7;
    left: -110%;
    top: 90%;
    transform: rotate(45deg);
}
.icon:hover::before{
    animation: animation 0.7s 1 forwards;
}
@keyframes animation {
    0%{
    left: -110%;
    top: 90%;
    }50%{
    left: 15%;
    top: -30%;
    }100%{
    top: -10%;
    left: -10%;
    }
}